.container {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a99985;
  border-radius: 5px;
  width: 600px;
  background-color: #dad2bc;
}

.mainContainer h1 {
  padding-top: 50px;
}

.palTitle {
  font-size: 25px;
  font-weight: 500;
  padding-top: 50px;
}

.palContent {
  padding-bottom: 50px;
  width: 70%;
}

hr {
  width: 70%;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
}

.commentContainer {
  padding-top: 50px;
}

.showComments {
  padding-top: 50px;
}

.showComments li {
  list-style-type: none;
}

.editDeleteBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editDeleteBtn button {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #70798c;
  color: white;
}
