html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

.profile-avatar {
  margin-top: 50px;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-post-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
