html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #f5f1ed;
}

.navbar {
  background-color: #252323;
}

.navbar i {
  color: #f5f1ed;
  padding-left: 10px;
}

.nav-link {
  color: #f5f1ed;
}
.navbar-toggler {
  background-color: #f5f1ed;
  outline: none;
}

.card-header,
.card-footer {
  background-color: #dad2bc;
}

.profile-avatar {
  margin-top: 50px;
}

.postcardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.postCards {
  margin-top: 20px;
  width: 50%;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-post-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postButtons a {
  margin-right: 10px;
}

.postButtons button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}

.postButtons button:hover {
  transform: translateY(-2px);
}

.userProfile img {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
