.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.container form label {
  margin-bottom: 20px;
}

.mainContainer {
  display: flex;
  margin-top: 20px;
}

.userProfile {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer form textarea {
  height: 150px;
}
