.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.container form label {
  margin-bottom: 20px;
}
