<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<section>
  <h1>PAL Posts</h1>
  <button>Make a Post</button>
</section>
<section>
  
</section>

<%- include('../partials/footer') %>
