<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/new.css" /> -->
<%- include('../partials/nav') %>

<h1>Posts...</h1>

<%- include("../partials/footer") %>
